html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar .nav > li > a, .navbar .nav > li > a {
    color:          black;
    text-shadow:    none;
    font-weight: bold;
    border:1px solid white;
}

.navbar .nav > li > a:hover{
    background-color:black;
}
.basic_elements{

    padding-left:3%;
    padding-top:3%;
    padding-bottom:3%;
    padding-right: 3%;
    box-shadow: 0 0px 2px #888888;
    border:1px solid #d9d9d9;
    margin-top: 20px;
}

#log-out{
    border:1px solid white;

}

#log-out:hover{
    background-color:black;
}


@media only screen and (min-width : 600px) {
    #log-out{
        float:right;
        margin-right:1.4%;
    }
}

#log-out:hover #logout_span{
    color:white;
}

.table-responsive{
    overflow-x:auto !important;
}

.activation-button{
    margin-top: 50px;
}

